.cabecalho{
    align-items: center;
    display: flex;
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    margin-right: 20%;
    
}

.cabecalho__link{
    font-family: 'Dancing Script', cursive;
    font-size: 51px;
    font-weight: 600;
    color: var(--cor-menu-link);
    text-decoration: none;
    display: flex;
}

.cabecalho__link#ativo {
    color: var(--menu-link-ativo);
    font-weight: bold;
}

.cabecalho__link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 3000px){
   .cabecalho{
    padding: 0% 15%; 
 }
   .cabecalho__link{
    padding: 6px 65px;
    gap: 60px;
  }
  .cabecalho__menu{
    display: flex;
  }
}

@media screen and (max-width: 414px){
.cabecalho__link{
   padding-left: 10%;
 }
}

@media screen and (min-width: 412px){
   .cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
 }
   .cabecalho__menu{
    gap: 20px;
  }
 }